body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 1em;
}

.center-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.home-section img {
    display: block;
    margin: 0 auto;
    width: 40%;
}

.about-box {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #ffcc00;
    /* Yellow color on hover */
}

.navbar a.active {
    color: #ffcc00;
    /* Yellow color for the active page */
}
.skills-table {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Shadowed border */
}

.center-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Add a slight border radius */
}

.skills-table table {
    width: 100%;
    border-collapse: collapse;
}

.skills-table th,
.skills-table td {
    padding: 10px;
    text-align: left;
}

.skills-table th {
    background-color: #333; /* Dark background color for table header */
    color: #fff;
}

.skills-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row color */
}

.about-section {
    text-align: center;
    margin: 20px;
    min-height: calc(100vh - 100px); /* Subtracting the height of the footer */
}

.grid-container {
    display: flex;
    justify-content: space-between;
}

.grid-item {
    width: 48%;
    /* Adjust the width as needed */
    padding: 20px;
    background-color: #fff;
    /* White background color */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    /* Shadowed border */
    margin-bottom: 20px;
}

.grid-item h2 {
    color: #333;
    /* Dark color for heading */
}

.grid-item p {
    color: #666;
    /* Slightly darker color for text */
}

section {
    padding: 20px;
}

.contact-form-section,
.contact-info-section {
    text-align: center;
    margin: 20px;
}

.contact-form-container,
.contact-info-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    /* White background color */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    /* Shadowed border */
    padding: 20px;
    margin-bottom: 20px;
}

.contact-form h2,
.contact-info-container h2 {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: #555;
}

.contact-info-container ul {
    list-style: none;
    padding: 0;
}

.contact-info-container li {
    margin-bottom: 10px;
    text-align: left;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 40px;
    /* Adjust the size as needed */
    height: 40px;
    /* Adjust the size as needed */
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.2);
}


.footer-links {
    text-align: center;
    margin-bottom: 10px;
}

.footer-links a {
    margin-right: 10px;
}

.footer-links img {
    width: 30px;
    height: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 100%;
    /* position: relative; */
    bottom: 0;
}