body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-top: 80px;
     
}

header {
    padding-top: 100px;
    background-color: rgba(191, 185, 185, 0.8);
    color: #0b0a0a;
    text-align: center;
    padding: 1em;
}

.center-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

.home-section img {
    display: block;
    margin: 0 auto;
    width: 40%;
}

.about-box {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the navbar appears above other content */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #a1976d;
}

.navbar a.active {
    color: #a1976d;
}
.biography-container {
    border: 2px solid #333; /* Add border */
    border-radius: 10px; /* Add border radius */
    margin-top: 20px; /* Add margin to separate from the image */
    padding: 20px; 
}

.biography {
    text-align: center;
}

.skills-section {
    text-align: center; /* Center the content */
}

.skills-table-container {
    display: inline-block; /* Ensure the table takes only the necessary width */
}

.skills-table {
    width: 100%; /* Make the table fill the container horizontally */
    max-width: 600px; 
    margin: 0 auto; /* Center the table horizontally */
}

.skills-table th,
.skills-table td {
    padding: 10px;
    text-align: left;
}

.skills-table th {
    background-color: #333; /* Dark background color for table header */
    color: #fff;
}

.skills-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row color */
}

.about-section {
    text-align: center;
    margin: 20px;
    min-height: calc(100vh - 100px); /* Subtracting the height of the footer */
}

.grid-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.grid-item {
    width:48%; 
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.grid-item h2 {
    color: #333;
    /* Dark color for heading */
}

.grid-item p {
    color: #666;
    /* Slightly darker color for text */
}

section {
    padding: 20px;
}

.contact-form-section,
.contact-info-section {
    text-align: center;
    margin: 20px;
}

.contact-form-container,
.contact-info-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    /* White background color */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    /* Shadowed border */
    padding: 20px;
    margin-bottom: 20px;
}

.contact-form h2,
.contact-info-container h2 {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: #555;
}

.contact-info-container ul {
    list-style: none;
    padding: 0;
}

.contact-info-container li {
    margin-bottom: 10px;
    text-align: left;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.2);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.footer-links {
    display: flex;
}

.footer-links a {
    margin-right: 10px;
}

.footer-links img {
    width: 30px;
    height: 30px;
}

/* Media Queries for Tablet and Mobile */
@media screen and (max-width: 768px) {
    /* Adjustments for Tablet */
    .home-section img {
        width: 70%;
    }
    
    .grid-item {
        width: calc(50% - 20px);
    }
    .footer-links img {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 480px) {
    /* Adjustments for Mobile */
    .home-section img {
        width: 90%;
    }
    .biography-container {
        margin-top: 10px;
        padding: 10px; 
    }
    .grid-item {
        width: calc(100% - 20px); /* Adjust width for mobile screens */
    }
   
    .footer-links img {
        width: 20px;
        height: 20px;
    }
}
